In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
%matplotlib inline
from pathlib import Path

In [2]:
T = pd.read_csv("twin_pairs_T_3years_samesex.csv", index_col = 0)
X = pd.read_csv("twin_pairs_X_3years_samesex.csv",index_col = 0)
X = X[X.columns[1:]]
Y = pd.read_csv("twin_pairs_Y_3years_samesex.csv",index_col = 0)

display(T.head(2))
display(X.head(2))
display(Y.head(2))

   dbirwt_0  dbirwt_1
0    2268.0    2296.0
1    2610.0    2650.0

,pldel,birattnd,brstate,stoccfipb,mager8,ormoth,mrace,meduc6,dmar,mplbir,...,feduc6,infant_id_0,infant_id_1,dlivord_min,dtotord_min,bord_0,bord_1,brstate_reg,stoccfipb_reg,mplbir_reg
0,1.0,1.0,1,1,3,0.0,1,NaN,1,31.0,...,NaN,1,0,NaN,NaN,NaN,NaN,5,5,1.0
1,1.0,1.0,1,1,3,0.0,2,3.0,0,1.0,...,NaN,7,6,2.0,3.0,2.0,1.0,5,5,5.0

   mort_0  mort_1
0     0.0     0.0
1     0.0     0.0

In [3]:
twins_lower_than_x_kg = (T['dbirwt_0'] <= 2100) & (T['dbirwt_1'] <= 2100)
X = X[twins_lower_than_x_kg]
T = T[twins_lower_than_x_kg]
Y = Y[twins_lower_than_x_kg]

In [4]:
display(Y.shape)
Y.sum()/Y.shape[0]

(14477, 2)

mort_0    0.161290
mort_1    0.137943
dtype: float64

In [5]:
X.to_csv('../2_outlier_removal/X.csv', index = False)
T.to_csv('../2_outlier_removal/T.csv', index = False)
Y.to_csv('../2_outlier_removal/Y.csv', index = False)